body {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 10pt;
	margin: 5px;
	font-family: 'ＭＳ ゴシック';
	background-color: #EFEFEF;
	height: 100%;
	max-width: 1250px;
}

#main {
	min-height: 100%;
}

#body {
	padding: 10px;
	padding-bottom: 80px; /* Height of the footer */
}

#footer {
	position: absolute;
	width: 100%;
	height: 60px;
	background: #EFEFEF;
	padding-right: 50px;
	max-width: 1245px;
}

table {
	border-collapse: collapse;	
}

th {
	text-align: center;
}

#btnUpdate {
    background-image: url(http://172.16.3.82:8082/assets/img/ExecBtnOrg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2px 20px;
}

#btnClose {
	background-image: url("http://172.16.3.82:8082/assets/img/ExecBtnPur.png");
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 2px 20px;

}

.table-bordered {
	border: 2px solid black;
}

.table-bordered td {
	padding: 0px;
}

td {
	border: 1px solid black;
}

.table td {
	border-top: 2px solid black;
	text-align: center;
}

select {
	margin: 2px;
}

td.b-none {
	border: 0px;
}

#GroupOffice table>thead th {
	color: #000000;
	background-color: #bbddff;
	border: solid 1px darkgray;
}

tr:nth-child(even) {
	background-color: #bbddff;
}

tr:nth-child(odd) {
	background-color: white;
}

tr.highlight {
	background-color: #ffe7a0;
}

.float-right {
    float: right!important;
}

.d-inline {
    display: inline!important;
}
